openapi: 3.0.1
info:
  description: |-
    ## Getting Started
    * Sign-in to [Basis Theory](https://basistheory.com) and go to [Applications](https://portal.basistheory.com/applications)
    * Create a Basis Theory Private Application
    * All permissions should be selected
    * Paste the API Key into the `BT-API-KEY` variable
  title: Basis Theory API
  version: v1
servers:
- url: https://api.basistheory.com
security:
- ApiKey: []
paths:
  /applications:
    get:
      operationId: Applications_Get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPaginatedList'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
    post:
      operationId: Applications_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
  /applications/{id}:
    delete:
      operationId: Applications_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
    get:
      operationId: Applications_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
    put:
      operationId: Applications_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
  /applications/key:
    get:
      operationId: Applications_GetByKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
      tags:
      - Applications
  /applications/{id}/regenerate:
    post:
      operationId: Applications_RegenerateKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Applications
  /application-templates:
    get:
      operationId: ApplicationTemplates_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationTemplate'
                type: array
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - ApplicationTemplates
  /application-templates/{id}:
    get:
      operationId: ApplicationTemplates_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTemplate'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - ApplicationTemplates
  /logs:
    get:
      operationId: Logs_Get
      parameters:
      - explode: true
        in: query
        name: entity_type
        required: false
        schema:
          maxLength: 50
          nullable: true
          pattern: "^[A-z]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: entity_id
        required: false
        schema:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          maxLength: 500
          nullable: true
          pattern: ^.+$
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 5000
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogPaginatedList'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Logs
  /logs/entity-types:
    get:
      operationId: Logs_GetEntityTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LogEntityType'
                type: array
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Logs
  /permissions:
    get:
      operationId: Permissions_Get
      parameters:
      - explode: true
        in: query
        name: application_type
        required: false
        schema:
          maxLength: 25
          nullable: true
          pattern: "^[A-z_]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Permission'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Permissions
  /proxies:
    get:
      operationId: Proxies_Get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyPaginatedList'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
    post:
      operationId: Proxies_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProxyRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proxy'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
  /proxies/{id}:
    delete:
      operationId: Proxies_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
    get:
      operationId: Proxies_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proxy'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
    patch:
      operationId: Proxies_Patch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchProxyRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
    put:
      operationId: Proxies_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProxyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proxy'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Proxies
  /reactor-formulas:
    get:
      operationId: ReactorFormulas_Get
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorFormulaPaginatedList'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - ReactorFormulas
    post:
      operationId: ReactorFormulas_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReactorFormulaRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorFormula'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - ReactorFormulas
  /reactor-formulas/{id}:
    delete:
      operationId: ReactorFormulas_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - ReactorFormulas
    get:
      operationId: ReactorFormulas_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorFormula'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - ReactorFormulas
    put:
      operationId: ReactorFormulas_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReactorFormulaRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorFormula'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - ReactorFormulas
  /reactors:
    get:
      operationId: Reactors_Get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorPaginatedList'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
    post:
      operationId: Reactors_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReactorRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reactor'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
  /reactors/{id}:
    delete:
      operationId: Reactors_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
    get:
      operationId: Reactors_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reactor'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
    patch:
      operationId: Reactors_Patch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchReactorRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
    put:
      operationId: Reactors_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReactorRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reactor'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
  /reactors/{id}/react:
    post:
      operationId: Reactors_React
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactResponse'
          description: Success
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactResponse'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Client Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Reactors
  /sessions:
    post:
      operationId: Sessions_Create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Sessions
  /sessions/authorize:
    post:
      operationId: Sessions_Authorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizeSessionRequest'
        required: true
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      tags:
      - Sessions
  /tenants/self/invitations:
    get:
      operationId: TenantInvitations_GetInvitations
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/TenantInvitationStatus'
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantInvitationResponsePaginatedList'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
    post:
      operationId: TenantInvitations_CreateInvitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantInvitationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantInvitationResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
  /tenants/self/invitations/{invitationId}/resend:
    post:
      operationId: TenantInvitations_ResendInvitation
      parameters:
      - explode: false
        in: path
        name: invitationId
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantInvitationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
  /tenants/self/invitations/{invitationId}:
    delete:
      operationId: TenantInvitations_DeleteInvitation
      parameters:
      - explode: false
        in: path
        name: invitationId
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - Tenants
  /tenants/self/members:
    get:
      operationId: TenantMembers_GetMembers
      parameters:
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMemberResponsePaginatedList'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
  /tenants/self/members/{memberId}:
    delete:
      operationId: TenantMembers_DeleteMember
      parameters:
      - explode: false
        in: path
        name: memberId
        required: true
        schema:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Client Error
      tags:
      - Tenants
  /tenants/self/reports/usage:
    get:
      operationId: TenantReports_GetTenantUsageReport
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUsageReport'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
  /tenants/self:
    delete:
      operationId: Tenants_Delete
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
    get:
      operationId: Tenants_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
    put:
      operationId: Tenants_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tenants
  /tokenize:
    post:
      operationId: Tokenize_Tokenize
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      tags:
      - Tokenize
  /tokens:
    get:
      operationId: Tokens_Get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      - explode: false
        in: query
        name: metadata
        required: false
        schema:
          additionalProperties:
            type: string
          nullable: true
          type: object
        style: deepObject
      - explode: true
        in: query
        name: page
        required: false
        schema:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPaginatedList'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tokens
    post:
      operationId: Tokens_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      tags:
      - Tokens
  /tokens/search:
    post:
      operationId: Tokens_Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTokensRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPaginatedList'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      tags:
      - Tokens
  /tokens/{id}:
    delete:
      operationId: Tokens_Delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 200
          pattern: ^.+$
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - Tokens
    get:
      operationId: Tokens_GetById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 200
          pattern: ^.+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      tags:
      - Tokens
    patch:
      operationId: Tokens_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 200
          pattern: ^.+$
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      tags:
      - Tokens
components:
  schemas:
    AccessRule:
      additionalProperties: false
      example:
        container: container
        transform: transform
        permissions:
        - permissions
        - permissions
        description: description
        priority: 5
        conditions:
        - attribute: attribute
          value: value
          operator: operator
        - attribute: attribute
          value: value
          operator: operator
      properties:
        description:
          nullable: true
          type: string
        priority:
          format: int32
          nullable: true
          type: integer
        container:
          nullable: true
          type: string
        transform:
          nullable: true
          type: string
        conditions:
          items:
            $ref: '#/components/schemas/Condition'
          nullable: true
          type: array
        permissions:
          items:
            type: string
          nullable: true
          type: array
      type: object
    Application:
      additionalProperties: false
      example:
        tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        expires_at: 2000-01-23T04:56:07.000+00:00
        permissions:
        - permissions
        - permissions
        - permissions
        - permissions
        - permissions
        name: name
        modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        rules:
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
        modified_at: 2000-01-23T04:56:07.000+00:00
        created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        key: key
      properties:
        id:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        tenant_id:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        name:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        key:
          maxLength: 100
          nullable: true
          pattern: "^[A-z0-9_]*$"
          type: string
        type:
          maxLength: 50
          nullable: true
          pattern: "^[A-z_]+$"
          type: string
        created_by:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        created_at:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        modified_by:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        modified_at:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        expires_at:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        permissions:
          items:
            type: string
          maxItems: 50
          nullable: true
          type: array
        rules:
          items:
            $ref: '#/components/schemas/AccessRule'
          nullable: true
          type: array
      type: object
    ApplicationPaginatedList:
      additionalProperties: false
      example:
        pagination:
          page_number: 6
          total_pages: 5
          after: after
          total_items: 0
          page_size: 1
        data:
        - tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        - tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        - tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        - tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        - tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          items:
            $ref: '#/components/schemas/Application'
          maxItems: 100
          nullable: true
          type: array
      type: object
    ApplicationTemplate:
      additionalProperties: false
      example:
        is_starter: true
        application_type: application_type
        permissions:
        - permissions
        - permissions
        name: name
        description: description
        template_type: template_type
        rules:
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        name:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        application_type:
          nullable: true
          type: string
        template_type:
          nullable: true
          type: string
        is_starter:
          type: boolean
        rules:
          items:
            $ref: '#/components/schemas/AccessRule'
          nullable: true
          type: array
        permissions:
          items:
            type: string
          nullable: true
          type: array
      type: object
    AuthorizeSessionRequest:
      additionalProperties: false
      example:
        expires_at: expires_at
        permissions:
        - permissions
        - permissions
        - permissions
        - permissions
        - permissions
        rules:
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        nonce: nonce
      properties:
        nonce:
          minLength: 1
          type: string
        expires_at:
          nullable: true
          type: string
        permissions:
          items:
            type: string
          maxItems: 50
          nullable: true
          type: array
        rules:
          items:
            $ref: '#/components/schemas/AccessRule'
          nullable: true
          type: array
      required:
      - nonce
      type: object
    BinDetails:
      additionalProperties: false
      example:
        country:
          alpha2: alpha2
          name: name
          numeric: numeric
        product:
          code: code
          name: name
        alm: true
        cost: ""
        reloadable: true
        prepaid: true
        combo_card: combo_card
        type: type
        domestic_only: true
        pan_or_token: pan_or_token
        account_updater: true
        bin_length: 0
        bank:
          phone: phone
          name: name
          clean_name: clean_name
          url: url
        card_brand: card_brand
        card_segment_type: card_segment_type
        gambling_blocked: true
        issuer_currency: issuer_currency
        level3: true
        level2: true
        authentication: ""
      properties:
        card_brand:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
        prepaid:
          nullable: true
          type: boolean
        card_segment_type:
          nullable: true
          type: string
        bank:
          $ref: '#/components/schemas/BinDetailsBank'
        product:
          $ref: '#/components/schemas/BinDetailsProduct'
        country:
          $ref: '#/components/schemas/BinDetailsCountry'
        reloadable:
          nullable: true
          type: boolean
        pan_or_token:
          nullable: true
          type: string
        account_updater:
          nullable: true
          type: boolean
        alm:
          nullable: true
          type: boolean
        domestic_only:
          nullable: true
          type: boolean
        gambling_blocked:
          nullable: true
          type: boolean
        level2:
          nullable: true
          type: boolean
        level3:
          nullable: true
          type: boolean
        issuer_currency:
          nullable: true
          type: string
        combo_card:
          nullable: true
          type: string
        bin_length:
          format: int32
          nullable: true
          type: integer
        authentication:
          nullable: true
        cost:
          nullable: true
      type: object
    BinDetailsBank:
      additionalProperties: false
      example:
        phone: phone
        name: name
        clean_name: clean_name
        url: url
      properties:
        name:
          nullable: true
          type: string
        phone:
          nullable: true
          type: string
        url:
          nullable: true
          type: string
        clean_name:
          nullable: true
          type: string
      type: object
    BinDetailsCountry:
      additionalProperties: false
      example:
        alpha2: alpha2
        name: name
        numeric: numeric
      properties:
        alpha2:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        numeric:
          nullable: true
          type: string
      type: object
    BinDetailsProduct:
      additionalProperties: false
      example:
        code: code
        name: name
      properties:
        code:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
      type: object
    Condition:
      additionalProperties: false
      example:
        attribute: attribute
        value: value
        operator: operator
      properties:
        attribute:
          nullable: true
          type: string
        operator:
          nullable: true
          type: string
        value:
          nullable: true
          type: string
      type: object
    CreateApplicationRequest:
      additionalProperties: false
      example:
        expires_at: expires_at
        permissions:
        - permissions
        - permissions
        - permissions
        - permissions
        - permissions
        name: name
        rules:
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        - container: container
          transform: transform
          permissions:
          - permissions
          - permissions
          description: description
          priority: 5
          conditions:
          - attribute: attribute
            value: value
            operator: operator
          - attribute: attribute
            value: value
            operator: operator
        type: type
      properties:
        name:
          maxLength: 200
          minLength: 1
          pattern: ^.+$
          type: string
        type:
          maxLength: 25
          minLength: 1
          pattern: "^[A-z_]+$"
          type: string
        expires_at:
          nullable: true
          type: string
        permissions:
          items:
            type: string
          maxItems: 50
          nullable: true
          type: array
        rules:
          items:
            $ref: '#/components/schemas/AccessRule'
          nullable: true
          type: array
      required:
      - name
      - type
      type: object
    CreateProxyRequest:
      additionalProperties: false
      example:
        response_transform:
          code: code
        application:
          tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        configuration:
          key: configuration
        response_reactor_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        destination_url: destination_url
        require_auth: true
        request_reactor_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        request_transform:
          code: code
      properties:
        name:
          maxLength: 200
          minLength: 1
          pattern: ^.+$
          type: string
        destination_url:
          maxLength: 400
          minLength: 1
          pattern: ^https://.+$
          type: string
        request_reactor_id:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        response_reactor_id:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        request_transform:
          $ref: '#/components/schemas/ProxyTransform'
        response_transform:
          $ref: '#/components/schemas/ProxyTransform'
        application:
          $ref: '#/components/schemas/Application'
        configuration:
          additionalProperties:
            nullable: true
            type: string
          maxLength: 25
          nullable: true
          type: object
        require_auth:
          nullable: true
          type: boolean
      required:
      - destination_url
      - name
      type: object
    CreateReactorFormulaRequest:
      additionalProperties: false
      deprecated: true
      example:
        code: code
        configuration:
        - name: name
          description: description
          type: type
        - name: name
          description: description
          type: type
        - name: name
          description: description
          type: type
        - name: name
          description: description
          type: type
        - name: name
          description: description
          type: type
        name: name
        icon: icon
        description: description
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
        request_parameters:
        - name: name
          description: description
          optional: true
          type: type
        - name: name
          description: description
          optional: true
          type: type
        - name: name
          description: description
          optional: true
          type: type
        - name: name
          description: description
          optional: true
          type: type
        - name: name
          description: description
          optional: true
          type: type
      properties:
        id:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        type:
          maxLength: 25
          minLength: 1
          pattern: ^(?:private|official)$
          type: string
        name:
          maxLength: 200
          minLength: 1
          pattern: ^.+$
          type: string
        description:
          maxLength: 1000
          nullable: true
          pattern: "^[\\S\\s]*$"
          type: string
        icon:
          nullable: true
          type: string
        code:
          maxLength: 50000
          nullable: true
          type: string
        configuration:
          items:
            $ref: '#/components/schemas/ReactorFormulaConfiguration'
          maxItems: 25
          nullable: true
          type: array
        request_parameters:
          items:
            $ref: '#/components/schemas/ReactorFormulaRequestParameter'
          maxItems: 25
          nullable: true
          type: array
      required:
      - name
      - type
      type: object
    CreateReactorRequest:
      additionalProperties: false
      example:
        code: code
        application:
          tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          expires_at: 2000-01-23T04:56:07.000+00:00
          permissions:
          - permissions
          - permissions
          - permissions
          - permissions
          - permissions
          name: name
          modified_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          - container: container
            transform: transform
            permissions:
            - permissions
            - permissions
            description: description
            priority: 5
            conditions:
            - attribute: attribute
              value: value
              operator: operator
            - attribute: attribute
              value: value
              operator: operator
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: type
          modified_at: 2000-01-23T04:56:07.000+00:00
          created_by: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          key: key
        configuration:
          key: configuration
        name: name
      properties:
        name:
          maxLength: 200
          minLength: 1
          pattern: ^.+$
          type: string
        code:
          maxLength: 50000
          minLength: 1
          pattern: "^[\\S\\s]*$"
          type: string
        application:
          $ref: '#/components/schemas/Application'
        configuration:
          additionalProperties:
            nullable: true
            type: string
          maxLength: 25
          nullable: true
          type: object
      required:
      - code
      - name
      type: object
    CreateSessionResponse:
      additionalProperties: false
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        session_key: session_key
        nonce: nonce
      properties:
        session_key:
          nullable: true
          type: string
        nonce:
          nullable: true
          type: string
        expires_at:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
      type: object
    CreateTenantInvitationRequest:
      additionalProperties: false
      example:
        email: email
      properties:
        email:
          format: email
          maxLength: 330
          minLength: 1
          type: string
      required:
      - email
      type: object
    CreateTokenRequest:
      additionalProperties: false
      example:
        fingerprint_expression: fingerprint_expression
        metadata:
          key: metadata
        expires_at: expires_at
        data: ""
        encryption:
          kek:
            prov: prov
            alg: alg
            key: key
          cek:
            prov: prov
            alg: alg
            key: key
        deduplicate_token: true
        privacy:
          restriction_policy: restriction_policy
          impact_level: impact_level
          classification: classification
        containers:
        - containers
        id: id
        search_indexes:
        - search_indexes
        - search_indexes
        type: type
        mask: ""
      properties:
        id:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
        data: {}
        encryption:
          $ref: '#/components/schemas/EncryptionMetadata'
        privacy:
          $ref: '#/components/schemas/Privacy'
        metadata:
          additionalProperties:
            nullable: true
            type: string
          nullable: true
          type: object
        search_indexes:
          items:
            type: string
          nullable: true
          type: array
        fingerprint_expression:
          nullable: true
          type: string
        mask:
          nullable: true
        deduplicate_token:
          nullable: true
          type: boolean
        expires_at:
          nullable: true
          type: string
        containers:
          items:
            type: string
          maxItems: 1
          nullable: true
          type: array
      required:
      - data
      type: object
    EncryptionKey:
      additionalProperties: false
      example:
        prov: prov
        alg: alg
        key: key
      properties:
        key:
          type: string
        prov:
          nullable: true
          type: string
        alg:
          nullable: true
          type: string
      required:
      - key
      type: object
    EncryptionMetadata:
      additionalProperties: false
      example:
        kek:
          prov: prov
          alg: alg
          key: key
        cek:
          prov: prov
          alg: alg
          key: key
      properties:
        cek:
          $ref: '#/components/schemas/EncryptionKey'
        kek:
          $ref: '#/components/schemas/EncryptionKey'
      type: object
    GetApplications:
      additionalProperties: false
      properties:
        id:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        type:
          items:
            type: string
          nullable: true
          type: array
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetLogs:
      additionalProperties: false
      properties:
        entity_type:
          maxLength: 50
          nullable: true
          pattern: "^[A-z]+$"
          type: string
        entity_id:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        start_date:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        end_date:
          format: date-time
          maxLength: 40
          nullable: true
          type: string
        page:
          format: int32
          nullable: true
          type: integer
        start:
          maxLength: 500
          nullable: true
          pattern: ^.+$
          type: string
        size:
          format: int32
          maximum: 5000
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetPermissions:
      additionalProperties: false
      properties:
        application_type:
          maxLength: 25
          nullable: true
          pattern: "^[A-z_]+$"
          type: string
      type: object
    GetProxies:
      additionalProperties: false
      properties:
        id:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        name:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetReactorFormulas:
      additionalProperties: false
      properties:
        name:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetReactors:
      additionalProperties: false
      properties:
        id:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        name:
          maxLength: 200
          nullable: true
          pattern: ^.+$
          type: string
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetTenantInvitations:
      additionalProperties: false
      properties:
        status:
          $ref: '#/components/schemas/TenantInvitationStatus'
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetTenantMembers:
      additionalProperties: false
      properties:
        user_id:
          items:
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            type: string
          nullable: true
          type: array
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 50
          minimum: 0
          nullable: true
          type: integer
      type: object
    GetTokens:
      additionalProperties: false
      properties:
        id:
          items:
            type: string
          nullable: true
          type: array
        metadata:
          additionalProperties:
            nullable: true
            type: string
          nullable: true
          type: object
        page:
          exclusiveMinimum: true
          format: int32
          maximum: 2147483647
          minimum: 0
          nullable: true
          type: integer
        start:
          nullable: true
          type: string
        size:
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
      type: object
    Log:
      additionalProperties: false
      example:
        tenant_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        entity_type: entity_type
        actor_type: actor_type
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        actor_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        entity_id: entity_id
        message: message
        operation: operation
      properties:
        id:
          nullable: true
          type: string
        tenant_id:
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        actor_id:
          format: uuid
          maxLength: 36
          nullable: true
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        actor_type:
          maxLength: 50
          nullable: true
[...]
